{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block content %}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="border rounded bg-white border-3 p-2">
			<form method="POST">
				{% csrf_token %}
				<fieldset>
					<legend>Log In</legend>
					<hr>
					{{ form|crispy }}
				</fieldset>
				<div>
					<button type="submit" class="btn btn-primary">Login</button>
					<small class="ms-2">
						<a href="{% url 'password_reset' %}">Forgot Password?</a>
					</small>
				</div>
			</form>
			<hr>
			<div>
				<small>
					Need an account? <a href="{% url 'register' %}">Register Now</a>
				</small>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
{% endblock content %}