{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Password Reset</title>
{% endblock title %}

{% block content %}
<div class="border rounded bg-white border-3 p-2">
	<form method="POST">
		{% csrf_token %}
		<fieldset>
			<legend>Reset Password</legend>
			<hr>
			<p>Please enter your <strong>registered email address</strong>.</p>
			{{ form|crispy }}
		</fieldset>
		<div>
			<button type="submit" class="btn btn-primary">Request Password Reset</button>
		</div>
	</form>
</div>
{% endblock content %}